@import url(bootstrap.css);

.hero-unit {
  padding: 60px;
  padding-bottom: 150px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  color: #C1E8F7;
}

.well {
  background-color: rgba(216,234,237,1);
}

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px 20px;
}

.nav-collapse .nav > .tooltip {
	color: #000000;
	background-color:#000000;
	
}

  .nav-collapse .nav > li > a {
    padding: 9px 15px;
    font-weight: bold;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .nav .dropdown {
  	padding-top:9px;
  }
  
.nav-collapse ul {
	color:#000000;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

textarea {
	height:120px;
}

.btn-group > input {
    display: none;
}

.btn-group input:first-child + .btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

input:checked + label.btn {
    background-color: #339acc;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.8);
    outline: 0 none;
}

input[disabled] + label.btn {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
} 
​


/*
.modal-body .table{
	vertical-align:middle; 
	text-align:center; 
}
*/
/*

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -webkit-linear-gradient(top, #006799, #339acc);
	background-image: -moz-linear-gradient(top, #006799, #339acc);
	background-image: -o-linear-gradient(top, #006799, #339acc);
	background-image: -ms-linear-gradient(top, #006799, #339acc);
	background-image: linear-gradient(top, #006799, #339acc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  border-color: #F0F8FF;
}

.navbar-inverse .navbar-search .search-query {
  background-color: white;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #1B82BF;
  color: #ffffff;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #64bbe6;
}

.hero-unit {
  background-color: #339acc;
  padding: 50px 50px 150px 50px;
  margin-bottom: 40px;
}

.hero-unit h1{
	color: #E3F2F8;
}

.hero-unit p{
	color: #C0CCD1;
}

.navbar-fixed-top {
  margin-bottom: 50px;
}
*/
