<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Fanagoal</title>
        <link type="text/css" rel="stylesheet" href="../static/css/fana_index.css"/>
        {% block headcontent %}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <h1><a href="/">Fanagoal</a></h1>
            <img id="logo" src="../static/img/fana_logo.gif" alt="logo">
						
						{% if user %}
            <ul id="left">
                <li><a href="/goal">My Goals</a></li>
                <li><a href="/activity">My Page</a></li>
                <li><a href="/friends">Friends</a></li>
            </ul>
            <ul id="right">
                <li><input type="text" name="search"/><input type="submit" value="search"></li>
                <li>{{user.firstname}}<a href="/logout">(Logout)</a></li>
            </ul>
						{% else %}
						<ul id="right">
                <li><a href="/login">Log In</a></li>
								|
								<li><a href="/signup">Sign Up</a></li>
            </ul>
						{% endif %}
        </div>
				
        <div id="bodycontent">
            {% block bodycontent %}
            {% endblock %}
        </div>
    </body>
</html>
