{% extends "mainpage_base.html" %} 
 
{% block midbodycontent %}
<table class="table">
	<tbody>
		<tr>
			<td align="center"><img src="../static/img/anonyUser_60.png" /></td>
			<td>first last</td>
			<td align="center"><img src="../static/img/anonyUser_60.png" /></td>
			<td>first last</td>
		</tr>
		<tr>
			<td align="center"><img src="../static/img/anonyUser_60.png" /></td>
			<td>first last</td>
			<td align="center"><img src="../static/img/anonyUser_60.png" /></td>
			<td>first last</td>
		</tr>
	</tbody>
</table>	
{% endblock %}



