{% extends "mainpage_base.html" %} 
 
{% block midbodycontent %}
<div class="span6 offset1" id="createGoal">

		<div class="modal-header" align="center">
			<h3>Create Goal</h3>
		</div>

		<form method="post">
			<div class="modal-body">
				<div class="span5">
					<table class="table">
						<tbody>
							<tr>
								<td colspan="2"><input class="span3" type="text"
									name="subject" placeholder="Goal name" value="{{subject}}">
									<br></td>
							</tr>
							<tr>
								<td>Start date:</td>
								<td><input class="span2" type="text" name="start_date"
									id="start_date"></td>
							</tr>
							<tr>
								<td>End date:</td>
								<td><input class="span2" type="text" name="end_date"
									id="end_date"></td>
							</tr>
						</tbody>
					</table>
					<textarea class="field span4" rows="4" name="content"
						placeholder="What will be the end result of this goal...">{{content}}</textarea>
					<div class="label label-warning">{{error}}</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-success" name="create"
					value="newgoal">Save</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</form>
</div>

{% endblock %}

{% block jscontent %}
<script>
$(function() {
  $('#freq_selector').change(function(e) {
    var s = $(e.target);
    if (s.val()=='week') //hide/show something;
    	$("#weeklyOnly").show();
    else
    	$("#weeklyOnly").hide();
    $("#frq_unit").html(s.val());
  });
});
</script>
{% endblock %}

