<!DOCTYPE HTML>
<html>
	<head>
		<title>Fanagoal Login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" />

	</head>
	<body>
		<form id="login_signup" action="" method="post" name="login">
			<h2>FANAGOAL</h2>
			<input type="text" name="email" placeholder="Email" value="{{email}}"/>
			<input type="password" name="password" placeholder="Password" value=""/>
			{% if error_msg %}
				<div id="error">{{error_msg}}</div>
			{% endif %}
			<ul>
				<li></li><a href="/signup">Sign up</a></li>
				<li><input type="submit" value="Log in"/></li>
			</ul>
		</form>
	</body>
</html>