{% extends "fana_base.html" %}

{% block bodycontent %}

<div class="post">
    <div class="post-heading">
            
        <div class="task-date">
            {{p.create_date.strftime("%b %d, %Y")}}
        </div>
    
        <div class="task-name">
            <a href="/task/{{p.key().id()}}">{{p.name}}</a>
        </div>
        
        <div class="task-note">
        {{p._render_text | safe}}
  		</div>
  		
  		<div class="task_date">
  		{{p.start_date}}
  		</div>
  		
  		<div class="task_date">
  		{{p.end_date}}
  		</div>
    </div>
    

</div>

{% endblock %}